* {
	box-sizing: border-box;
}
.container::before,
.container::after {
	clear: both;
	content: "";
	display: table;
}
.container {
    width: 100%;                    
    max-width: 1200px;             
    margin: 0 auto;              
}

/*============================== Navbar ====================================*/

body {
    margin: 0;
    font-family: "Oswald", Open Sans, Helvetica, sans-serif;
}
.topnav {
    background-color: #302E74;
    position: fixed;
    top: 0;
    width: 100vw;
    min-height: 50px;
    z-index: 5; 
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;
    font-size: 22px;
}
.topnav a:hover {
    background-color: #7B9AAC;
    color: black;
}
.active {
    background-color: #302E74;
    color: white; 
} 
.topnav .icon {
    display: none;
    width: 50px;
    height: 40px ;
}
.icon .fa{
    width: 30px;
    height:25px ;
}
@media screen and (max-width: 767px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
     
      float: right;
      display: block;
    }
} 
@media screen and (max-width: 767px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
.topnav.responsive a {
      float: none;
      display: block;
      text-align: left;    
    }
}

/*============================== Slider ====================================*/
.page-content {
  display: flex;
  height: 100vh;
  max-width: 100%;
}
.flex-item {
    width:100%;
}
#slideShow
{ 
    height: 100%;
    width:100%;
    position: relative;   
}
#slideShow img
{
    width: 100%;
    position: absolute; 
    opacity: 0;
    height: 100%;
    transition: 1s;
}
#slideShow .current {
    opacity: 1;
    transition: 2s;
}
.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.3);
}
.titleMessage {
	position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    z-index: 3;
    text-align: center;
}
.titleMessage .heading p {
	color: #fff;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    font-weight: 600;
    letter-spacing: 7px;
    font-size: 60px; 
}
.front-end {
    padding: 20px;
}

/*============================== Loader ====================================*/
.loader {
	width: 100%;
	height: 100%;
	background-color: #fff;
	position: fixed;
	top: 0px;
	left: 0px;
    z-index: 1000;
}
.loader .inside {
	width: 100%;
	height: 100%;
	background: url(../images/loader.gif) center center no-repeat;
}

/*============================== About ====================================*/

.about {
    background-color: #f4f4f4;
    background-size: cover;
    padding: 100px 0;
}
.aboutImage {
	max-width: 100%;
}
.box,.myname{
    font-family: "Oswald", Open Sans, Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}
.myname {
    font-size: 22px;
    padding: 10px 0;
    letter-spacing: 1px;
    font-weight: 700;
}
/*============================== Umiejętności ====================================*/
#skills  {
    text-align: center;
    padding: 80px 0;
}
.title-skills {
    padding: 40px 0 30px 0;
    font-size: 40px;
    line-height: 1.1;
    font-weight: 700;
    font-family: "Oswald", Open Sans, Helvetica, sans-serif;
}
.icon {
    display: inline;
    border: 0;
    padding: 25px; 
    border-radius: 20%;
    margin: 0 auto;
    cursor: pointer;
    font-size: 50px;
    color: red;
    justify-content: flex-end;
}
.imgRedux {
    padding-top: 16px;
    width: 100px;
}
ul {
    list-style: none;
}

/*============================== Portfolio ====================================*/
.title-Portfolio {
    padding: 30px;
    font-size: 40px;
    line-height: 1.1;
    font-weight: 700;
    font-family: "Oswald", Open Sans, Helvetica, sans-serif;
    zoom: 1;
}
.portfolio {
    background-color: #f4f4f4;
    background-size: cover;
    padding: 70px 0 100px 0;
}
.portfolio .heading {
	text-align: center;
	padding-bottom: 40px;
	width: 100%;
}
.items li {
	display: inline-block;
    padding: 5px;
}
.itemsContainer {
   max-width: 100%;
   height: auto ;
}
.items li img {
	max-width: 100%;
	-webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
}
.items .item {
	position: relative;
	display: block;
	overflow: hidden;
}
.items .icons {
	position: absolute;
    width: 90px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin: -20px auto 0 -47px;
    text-align: center;
    z-index: 3;
}
.items .icons i {
	color: #fff;
    font-size: 20px;
    margin-top: 9px;
}
.items a {
	width: 40px;
    height: 40px;
    background-color: #302E74;
    position: relative;
    display: inline-block;
    -webkit-transition: all 0.2s linear, 0.2s;
    -moz-transition: all 0.2s linear, 0.2s;
    -o-transition: all 0.2s linear, 0.2s;
    -ms-transition: all 0.2s linear, 0.2s;
    -transition: all 0.2s linear, 0.2s;
}
.items .imageOverlay {
	width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
    cursor: pointer;
}
.items .item:hover .imageOverlay {
	opacity: 1;
}
.items .openButton {
	float: left;
	left: -300px;
}
.items .projectLink {
	float: right;
	right: -300px;
}
.items .item:hover .openButton {
	left: 0px;
}
.items .item:hover .projectLink {
	right: 0px;
}
.items .item:hover img {
	-webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -transform: scale(1.05, 1.05);
}
.items {
	padding: 0;
}
ul {
    display: flex;
    flex-wrap: wrap;
}
/*============================== Kontakt ====================================*/

#contact {
    padding: 50px 0;
    background-color: #302E74;
    color: #fff;
}
.title-contact {
    text-align: center;
    padding: 40px;
    font-size: 40px;
    color: white;
}
.contactButton {
	color: #fff;

    border: 2px solid #fff;
    border-radius: 10px;

    margin-left: auto;
    font-size: 18px;
    font-weight: 500;
    margin: 15px auto 0;
    display: table;
    padding: 15px 25px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: "proxima-nova", sans-serif;
    transition: background-color 300ms ease-out;
}
.contactButton:hover {
	text-decoration: none;
    color: grey;
	background-color: #fff;
}
.contact-mail{
    color: white;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    margin: 0 0 10px 0;
    line-height: 30px;
    font-family: "proxima-nova", sans-serif;
    font-style: normal; 
}
.message {
    font-family: -apple-system,BlinkMacSystemFont,
    "Segoe UI",Roboto,"Helvetica Neue",
    Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.contact-items {
    color: white;
    font-size: 20px;
}
.contact-details {
    background-color: black;
}
.socialMedia {
    list-style: none;   
    padding: 30px  0;
    display: block;
    text-align: center;    
}
.socialMedia li {
    display: inline-block;
    margin-bottom: 10px;
}
 .icon-fa{
    font-size: 50px;
    padding: 20px;
    text-rendering: auto;
    color: #fff;
}

/*============================== Footer ====================================*/
.copyright {
	background-color: #000;
	color: #fff;
	padding: 30px 5px;
}
.copyright p {
	margin: 0;
}

/*============================== Media Queries ==============================*/

 @media(max-width: 767px){
    /* Extra small devices (phones, less than 768px)  */
    .col-xs-1 {width: 8.33%;}
    .col-xs-2 {width: 16.66%;}
    .col-xs-3 {width: 25%;}
    .col-xs-4 {width: 33.33%;}
    .col-xs-5 {width: 41.66%;}
    .col-xs-6 {width: 50%;}
    .col-xs-7 {width: 58.33%;}
    .col-xs-8 {width: 66.66%;}
    .col-xs-9 {width: 75%;}
    .col-xs-10 {width: 83.33%;}
    .col-xs-11 {width: 91.66%;}
    .col-xs-12 {width: 100%;}
   
    .titleMessage .heading p  {
        font-size: 15px;
    }
    .about {
       
        padding: 30px 0;
    }
    section {
        text-align: justify;
    }
}

@media(min-width: 768px) and (max-width: 991px){
    /* Small devices (tablets, 768px and up) */
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}

    .titleMessage .heading p  {
        font-size: 25px;
    }
    .about {
       
        padding: 30px 0;
    }
    section {
        text-align: justify;
    }   
}

@media(min-width: 992px) and (max-width: 1199px) {
   /* Medium devices (desktops, 992px and up) */
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
}

@media(min-width: 1200px) {
  /* Large devices (large desktops, 1200px and up) */  
    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}
}



